[submodule "packages/popweb"]
path = packages/popweb
url = https://github.com/manateelazycat/popweb.git

[submodule "packages/company-english-helper"]
path = packages/company-english-helper
url = https://github.com/manateelazycat/company-english-helper.git

[submodule "packages/python-bridge"]
	path = packages/python-bridge
	url = https://github.com/manateelazycat/python-bridge.git
